@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #f1ecec;

}

body label{
  font-family: 'Noto Sans';
}

body h1, body h2, body h3, button{
  font-family: 'NDS_BIOS';
}

.btn-primary{
  background-color: #5abd8b;
  color: black;
  border: solid black 0px;
}

.textarea-primary{
  border: solid black 1px;
}

.btn{
  border: solid black 1px;
}
.btn:hover{
  background-color: #5abd8b;
  border: solid black 1px;
}

.login-input {
  background: transparent;
  border-bottom: 2px solid black;
  margin: auto;
  width: 100%;
}

.input-wrapper {
  width: 50%;
  position: relative;
  margin: auto;
  margin-bottom: 5rem; 
}

.input-wrapper i {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transition: all .3s;
  cursor: text;
}

.login-input:focus {
  outline: none;
  border-bottom: 2px solid #d6d6d6;
}

.login-input:focus ~ label > i {
  bottom: 100%;
  color: #888888;
  font-size: 20px;
  cursor: default;
}

.login-input:not(:placeholder-shown) ~ label > i {
  bottom: 100%;
  color: #888888;
  font-size: 20px;
  cursor: default;
}